<main class="mt-5">
    <div class="container">
        <div class="card mx-auto" style="width: 500px">
            <div class="card-header">                
                <img src="/img/INSO.png" alt="logo" class="card-img-top mx-auto m2 rounded-circle" style="width: 150px; height: 150px; display: block;">
                <h3 class="text-uppercase text-center p-4">Viva saludable con DXN</h3>
            </div>
            <div class="card-body text-center" style="width: 500Px">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure excepturi quis voluptatum temporibus non ut, ab laborum voluptas recusandae consectetur fuga, laboriosam necessitatibus distinctio quam harum praesentium obcaecati ipsam consequatur?</p>
                <a href="" class="btn btn-primary">crear una persona</a>
            </div>
        </div>
    </div>
</main>