<main class="mt-5">
    <div class="container">
        <div class="card mx-auto" style="width: 700Px">
            <div class="card-header" >
                <img src="/img/Logo DXN.png" alt="logo" class="card-img-top mx-auto m2 " style="width: 150px; height: 150px; display: block;">
                <h3 class="text-uppercase text-center p-4">Viva Saludable con DXN</h3>
            </div>
            <div class="card-body text-center" >
                <p>Desde los orígenes de la vida, el hombre siempre ha buscado <h5>El secreto de la eterna juventud”</h5> sin saber que siempre la hemos tenido en nuestras manos.
Un científico malayo se ha encargado por varias décadas de estudiar algunos productos herbolarios y ha encontrado algunos que nos ayudan a mantener el equilibrio en nuestro cuerpo, a fortalecerlo y desintoxicarlo.
Esta maravillosa marca nos muestra productos holísticos con métodos que fortalecen los pilares básicos de nuestra salud y la economía de nuestros hogares.
                 </p>
                 <h4 class="text-uppercase text-center p-4">¡Bienvenidos!</h4>
                 
                <a href="" class="btn btn-primary">Ver Negocio</a>
            </div>
        </div>
    </div>
</main>