<main class="mt-5">
    <div class="container">
        <div class="card mx-auto">
            <div class="card-header">
                <img src="/img/InSO.png" alt="logo" class="card-img-top mx-auto m2 rounded-circle">
            </div>
        </div>
    </div>
</main>