<div class="card text-center">
  <div class="card-header navbar-info bg-info">
  <h2 class="card-title">Un producto de INSO producciónes</h2>
  </div>
  <div class="card-body">
    <h6 class="card-text">creado por Yodonso Herreño Quiroga</h6>
    <a href="#" class="btn btn-primary">DXN  estilo de vida </a>
  </div>
  
</div>