<!-- esta linea da color al fondo y ala letra -->
<nav class="navbar navbar-expand-lg navbar-info bg-info">
    <div class="container-fluid">
        <a class="navbar-brand" href="/.">DXN</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="/nosotros">Nosotros</a> <!-- '/.' lleva al Nosotros-->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/negocio">Negocio</a> <!-- '/add' leva a crear-->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/productos">Productos</a>  <!-- '/list' leva a listar-->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/membrecia">Membrecia</a>  <!-- '/list' leva a listar-->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contactenos">Contactenos</a>  <!-- '/list' leva a listar-->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/list">Lista</a>  <!-- '/list' leva a listar-->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/add">Crear Productos</a>  <!-- '/list' leva a listar-->
                </li>
                
            </ul>
        </div>
    </div>
</nav>