<!-- contenedor madre Captura informacion-->
    <div class="container mt-5 border border-danger">
        <section class="border mt-2 mb-2">
            <form>
                <div class="row mt-5">
                    <h3 class="text-center text-uppercase p-2">Ponte en contacto con nosotros y te ampliaremos la informacion</h3>
                </div>                
            </form>
        </section>
          <section class="border mt-2 mb-2">
            <form>
                <h5 class="text-center">Escanea o dale click y nos vemos en Whatsapp</h5>    
                <div class="row mt-2 mb-2 ms-2 me-2 text-center">   
                    <a href="https://wa.me/message/RFSU2QZ65DCXD1" onclick="enviarMensaje()">
                        <img src="/img/Qr Whatsapp.png" alt="Escribanos y con gusto te ampliaremos la informacion">
                    </a>
                </div>
            </form>
        </section>


     </div>   
