<!--<main class=" mt-5">
     <div class="container row">
        <div class="col-4 table card mx-auto" style="width: 400Px">
            <div class="card-header" >
                <h3 class="text-uppercase text-center p-4">Viva Saludable con DXN</h3>
                <img src="/img/Logo DXN.png" alt="logo" class="card-img-top mx-auto m2 " style="width: 150px; height: 150px; display: block;">
                
            </div>
        </div>
    </div>
</main>

<main class=" mt-5">
    <div class="container row">
        <div class="col-4 table card mx-auto" style="width: 400Px">
            <h3 class="text-uppercase text-center p-4 ">Nosotros</h3>
           
            <div class="card-body text-center" >
                <p>Desde los orígenes de la vida, el hombre siempre ha buscado <h5>El secreto de la eterna juventud”</h5> 
                 </p>
            </div>
        </div>
    </div>
</main>

<main class="row mt-5">
    <div class="container row">
        <div class="col-4 table card mx-auto" style="width: 400Px">
            <h3 class="text-uppercase text-center p-4 ">Visión</h3>
           
            <div class="card-body text-center" >
                <p>
Transformar la salud y el bienestar de las personas a través de productos innovadores, 100% orgánicos y naturales, cultivados y elaborados con amor y respeto por el medio ambiente, promoviendo un estilo de vida consciente y sostenible para un mundo más saludable y feliz".
                 </p>
            </div>
        </div>
    </div>
</main>

<main class="row mt-5">
    <div class="container row">        
        <div class="col-4 table card mx-auto" style="width: 400Px">
            <h3 class="text-uppercase text-center p-4 ">Misión</h3>           
            <div class="card-body text-center" >
                <p>Nuestra misión es proporcionarte los mejores productos para que puedas vivir una vida plena y saludable, en armonía con la naturaleza. Únete a nosotros en este viaje hacia un bienestar total y descubre el poder transformador de lo orgánico. ¡Tu cuerpo te lo aradecerá!
                 </p>
            </div>
        </div>        
    </div> 
</main>-->

<div class="container">
    <div class="row mt-5 text-center">
        <div class="col-5 m-1">
            <div class="card">
                <h5 class="card-header">Viva Saludable con DXN</h5>
                <div class="card-body">
                    <img src="/img/Logo DXN.png" alt="logo" class="card-img-top mx-auto m2 " style="width: 50%; height: 50%; display: block;">
                </div>
            </div>
        </div>
        <div class="col-5 m-1">
            <div class="card">
                <h5 class="card-header">Quienes Somos</h5>
                <div class="card-body">
                    <p class="card-text">¡Bienvenidos a <H5>VIVA SALUDABLE CON DXN</H5>, Nos enorgullece ser tu compañero en el viaje hacia un estilo de vida más saludable y natural! <h5>VIVA SALUDABLE CON DXN</H5> nos dedicamos a proporcionar productos de bienestar de la más alta calidad, elaborados con ingredientes 100% naturales y cuidadosamente seleccionados. Nosotros promovemos el bienestar holístico, tanto físico como mental, ofreciendo soluciones naturales que nutren el cuerpo y elevan el espíritu.  </p>
                </div>
            </div>
        </div>
        <div class="col-5 m-1">
            <div class="card">
                <h5 class="card-header">Mision</h5>
                <div class="card-body">
                    <p class="card-text">Nuestra misión es proporcionarte los mejores productos para que puedas vivir una vida plena y saludable, en armonía con la naturaleza de manera olistica. Únete a nosotros en este viaje hacia un bienestar total y descubre el poder transformador de lo orgánico. ¡Tu cuerpo te lo aradecerá!</p>
                </div>
            </div>
        </div>
        <div class="col-5 m-1">
            <div class="card">
                <h5 class="card-header">Vision</h5>
                <div class="card-body">
                    <p class="card-text">Transformar la salud y el bienestar de las personas a través de productos innovadores, 100% orgánicos y naturales, cultivados y elaborados con amor y respeto por el medio ambiente, promoviendo un estilo de vida consciente y sostenible para un mundo más saludable y feliz".</p>
                </div>
            </div>
        </div>
        
    </div>
</div>