<main class="mt-5">
    <div class="container">
        <div class="card mx-auto" style="width: 500Px">
            <div class="card-header" >
                <h3 class="text-uppercase text-center p-4">Viva Saludable con DXN</h3>
                <img src="/img/Logo DXN.png" alt="logo" class="card-img-top mx-auto m2 " style="width: 150px; height: 150px; display: block;">
                
            </div>
        </div>
    </div>
</main>

<main class="mt-5">
    <div class="container">
        <div class="card mx-auto" style="width: 500Px">
            <h3 class="text-uppercase text-center p-4">Nosotros</h3>
           
            <div class="card-body text-center" >
                <p>Desde los orígenes de la vida, el hombre siempre ha buscado <h5>El secreto de la eterna juventud”</h5> 
                 </p>
            </div>
        </div>
    </div>
</main>

<main class="mt-5">
    <div class="container">
        <div class="card mx-auto" style="width: 500Px">
            <h3 class="text-uppercase text-center p-4">Visión</h3>
           
            <div class="card-body text-center" >
                <p>
Transformar la salud y el bienestar de las personas a través de productos innovadores, 100% orgánicos y naturales, cultivados y elaborados con amor y respeto por el medio ambiente, promoviendo un estilo de vida consciente y sostenible para un mundo más saludable y feliz".
                 </p>
            </div>
        </div>
    </div>
</main>

<main class="mt-5">
    <div class="container">
        <div class="card mx-auto" style="width: 500Px">
            <h3 class="text-uppercase text-center p-4">Misión</h3>
           
            <div class="card-body text-center" >
                <p>Nuestra misión es proporcionarte los mejores productos para que puedas vivir una vida plena y saludable, en armonía con la naturaleza. Únete a nosotros en este viaje hacia un bienestar total y descubre el poder transformador de lo orgánico. ¡Tu cuerpo te lo aradecerá!
                 </p>
            </div>
        </div>
    </div>
</main>